# build production
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

.tmp

# Apple OS metadata
.DS_Store
._.DS_Store
Thumbs.db
Icon[\r]

# dependencies directories
node_modules
bower_components
npm-debug.log

# API keys and secrets
.env

# editors
.idea
*.iml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results